.planner {
  width: 100vw;
  height: 100vh;
}
.planner .gridNav {
  grid-area: nav;
}
.planner .gridOne {
  grid-area: one;
}
.planner .gridTwo {
  grid-area: two;
}
.planner .gridThree {
  grid-area: three;
}
.planner .gridFour {
  grid-area: four;
}
.planner .gridFive {
  grid-area: five;
}
.planner .gridSix {
  grid-area: six;
}
.sevenem {
  width: 6em !important;
  height: 6em !important;
  min-width: 6em !important;
  min-height: 6em !important;
  color: #fff;
  padding: 0.4em;
}
.sevenem :is(h1, h2, h3, h4, h5, h6, p) {
  font-size: 0.85em;
}
.threem {
  width: 3em !important;
  height: 3em !important;
  min-width: 3em !important;
  min-height: 3em !important;
  padding: 0.2em;
}
.threem :is(h1, h2, h3, h4, h5, h6, p) {
  font-size: 0.4em;
}
.dateboard,
.datecompleted,
.datedeadline,
.dateleftwidgets,
.datemaker,
.daterightwidgets {
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}
.datecompleted {
  border-radius: 0 0 1em 1em;
}
.daterightwidgets {
  border-radius: 1em 0 0 1em;
}
.dateboard:hover {
  outline: #b52d5f solid 3px;
}
.ptooltip {
  margin: 0 !important;
}
@media only screen and (max-width: 600px) {
  .planner {
    height: 100vh;
    display: grid;
    grid-template-areas: "nav nav nav nav nav" "five five five five five" "pass4 pass4 pass4 pass4 pass4" "pass5 pass5 two pass6 pass6" "pass7 pass7 pass7 pass7 pass7" "one one one one one";
    grid-template-columns:
      minmax(0.1fr, 1fr) minmax(1em, 1fr) minmax(40em, 45em)
      minmax(1em, 1fr) auto;
    grid-template-rows: 3.3em 7.5em minmax(1em, 0.7fr) auto minmax(1em, 1fr) auto;
  }
}
@media only screen and (min-width: 600px) {
  .planner {
    height: 100vh;
    display: grid;
    grid-template-areas: "nav nav nav nav nav" "five five five five five" "pass4 pass4 pass4 pass4 pass4" "pass5 pass5 two pass6 pass6" "pass7 pass7 pass7 pass7 pass7" "one one one one one";
    grid-template-columns:
      minmax(0.1fr, 1fr) minmax(1em, 1fr) minmax(40em, 45em)
      minmax(1em, 1fr) auto;
    grid-template-rows: 3.3em 7.5em minmax(1em, 0.7fr) auto minmax(1em, 1fr) auto;
  }
}
@media only screen and (min-width: 768px) {
  .planner {
    height: 100vh;
    display: grid;
    grid-template-areas: "nav nav nav" "five five five" "pass1 pass1 pass1" "pass2 two pass3" "pass4 pass4 pass4" "one one one";
    grid-template-columns: minmax(1em, 1fr) minmax(40em, 45em) minmax(1em, 1fr);
    grid-template-rows: 3.3em 7.5em minmax(0, 0.7fr) auto minmax(0em, 1fr) auto;
  }
}
@media only screen and (min-width: 1350px) {
  .planner {
    height: 100vh;
    display: grid;
    grid-template-areas: "nav nav nav nav nav nav nav nav" "one pass1 pass1 pass1 pass1 pass1 three three" "one pass2 pass2 two pass3 pass3 three three" "one pass4 pass4 pass4 pass4 pass4 three three" "four pass5 five five five pass6 pass6 pass6" "four pass7 five five five pass8 six six" "four pass10 five five five pass11 pass11 pass11" "four pass12 pass12 pass12 pass12 pass12 pass12 pass12";
    grid-template-columns:
      26em minmax(1em, 1fr) minmax(0em, 1fr) minmax(40em, 45em)
      minmax(0em, 1fr) minmax(1em, 1fr) minmax(14.5em, 14.5em) 3em;
    grid-template-rows: 3.3em minmax(1em, 1fr) auto minmax(2em, 1fr) 1em 6em 2.5em 0.5em;
  }
}
