.resetPassword {
  width: 100vw;
  height: 100lvh;
  min-height: -webkit-fill-available;
}
.resetPassword .black {
  width: 100%;
  height: 100lvh;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
}
.resetPassword .resetPasswordContent {
  width: 100%;
  height: 100%;
  background-image: url("../images/bg1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.resetPassword .resetPasswordContent .card {
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}
