.signup {
  width: 100vw;
  height: 100lvh;
  min-height: -webkit-fill-available;
}
.signup .black {
  width: 100%;
  height: 100lvh;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
}
.signup .signupContent {
  width: 100%;
  height: 100%;
  background-image: url("../images/bg1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.signup .signupContent .card {
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}
